.container-Forgot-passwordPage1{
    background: linear-gradient( to bottom, #fff,#F8FBFC , #50A3AB);
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
  }
  .logoandtitlePage1 {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .logo-forgotpassword{
    width: 250px; 
    height: 250px; 
    margin-right: 50px;
    place-self: center;
  
  }
  .logo-forgotpassword img {
    width: 250px; 
    height: 250px; 
   
  }
  .title {
    text-align: center; 
    margin-right:50px;
    
  }
  
  .title h1 {
    font-size: 30px; 
    color:#2E4D72; 
    margin-right: 50px ;
  }
  
  .title p {
    font-size: 16px; 
    color: #2E4D72; 
    margin-top: 10px; 
   margin-right: 50px;
   font-weight: 500;
  }
  .continuepage1 {
    padding: 13px ;
    width: 250px;
    border-radius: 9px;
    border: none;
    background-color: #4BA0A8;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    margin-left: 10px;
    transition: 0.3s ease
  }
  .continuepage1:hover {
    background-color: #79D7BE;
    transform: scale(1.1);
  } 
  input:focus {
    transform: scale(1.05); 
    transition: all 0.3s ease; 
  }
  .btn-arrow:hover  {
    transform: scale(1.3);
  }
.code-a-envoyer{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
    height: 50%;
    max-width: 100vw;
    width: 50%;
    place-self: center;
    justify-content: space-around;
}
.input-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    width: 90%;
    height: 80%;
    place-self: center;
}
.code-a-envoyer input{
    width: 100px;
    height: 150px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #A3CED2;
    text-align: center;
    color: #2E4D72;
    font-size: 60px;
    font-weight: bold;
}
.Returnepage1 {
    display: flex;
    align-items: center;
    max-width: 100vw;
    width: 40%;
    max-height: 100vh;
    height: 15%;
    margin-top: 5px;
    margin-left: 5px;
    gap: 10px;
   place-self: center;
  }
  .Returnepage1 .btn-arrow{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: transparent;
    
  }
  .ioArrowBackCircle{
    width: 40px;
    height: 40px;
    color: #4BA0A8;
  }
  .Returnepage1 p {
    color: #2E4D72;
    font-size: 16px;
    font-weight: 400;
  }
.doctor1-img img {
    position: absolute;
    bottom: -85px;
    right: -40px; 
    height:70%;
    width: auto;
  }
  @media (max-width: 468px) {
    .logoandtitlePage1{
        padding: 10px;
        margin-top: 50px;
    }
    .logoandtitlePage1 .logo-forgotpassword img{
      width: 300px;
      height: auto;
  }
    .logoandtitlePage1 title p{
       margin-left: 10px;
    }
    

   
    .logo-forgotpassword img {
        width: 150px;
        height: 150px;
    }

   

    .input-container {
        margin-right: 10px;
        
        gap: 30px;
    }
    .input-container input {
        margin-left: -20px;
    }

    .continuepage1 {
        width: 180px;
        font-size: 14px;
    }
    .Returnepage1 {
        width: 100%;
       margin-left: 100px;
    }

    .Returnepage1 p {
        font-size: 14px;
    }

    .doctor1-img img {
        display: none; /* Cache l'image sur mobile */
    }
}


@media (max-width: 900px) {
    .logoandtitlePage1 {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        height: 35%;

    }
    .logoandtitlePage1 title {
       
        background-color: #4BA0A8;
    }
   .code-a-envoyer {
    
    display: flex;
    flex-direction: column;
    max-height: 300px;
    margin-top: 70px;
    
   } 
   .input-container {
    margin-right: 60px;
    max-height: 150px;
   }
  
   .input-container input {
    margin-right: 10px;
    max-height: 100%;
   }

    .doctor1-img img {
      display: none;
        max-height: 400px;
        margin-right: -50px;
    }
}


@media (max-width: 1024px) {
    .container-Forgot-password {
        flex-direction: column;
        justify-content: center;
    }
   
    .logo-forgotpassword img {
        width: 200px;
        height: 200px;
    }

    .title h1 {
        font-size: 26px;
    }

    .title p {
        font-size: 15px;
    }

    .code-a-envoyer input {
        width: 55px;
        height: 75px;
        font-size: 32px;
    }

    .doctor1-img img {
        height:600px;
        height: 50%;
        margin-bottom: -50px;
        margin-right: -20px;
    }
}