.container-Forogot-PasswordPage2 {
    background: linear-gradient( to bottom, #fff,#F8FBFC , #50A3AB);
      height: 100vh;
      width: 100vw;
      overflow: hidden;
      position: relative;
      place-self: center;
      
    }
    
     .logoandtitlePage2 {
        display: flex;
        align-items: center;
        justify-content: center;
        }
      .logo-forgotpassword{
        width: 250px; 
        height: 250px; 
        margin-right: 50px;
        place-self: center;
      }
      .logo-forgotpassword img {
        width: 250px; 
        height: 250px; 
       
      }
      .title {
        text-align: center; 
        margin-right:50px;
      }
      
      .title h1 {
        font-size: 30px; 
        color:#2E4D72; 
        margin-right: 50px ;
      }
      .forgotpasswordpage2{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        
        max-width: 100vw;
        width: 50%;
        max-height: 100vh;
        height: 50%;
        place-self: center;
        padding: 30px;
      }
      .labelandpassword {
        padding: 10px;
        margin: 5px;
        max-width: 100vw;
        width: 75%;
        max-height: 100vh;
        height: 75%;
        display: flex;
       flex-direction: column;
       align-items: start;
       gap: 10px;
    
      }
      .labelandpassword input[type = 'password']{
        padding: 10px;
        height: 50px;
        width: 90%;
        outline: none;
        border: 1px solid #50A3AB;
        border-radius: 5px;
        color: #2E4D72;
        font-size: 23px;
        font-weight: 500;
      }
      .labelandpassword input[type = 'password']:focus {
        transform: scale(1.05); 
        transition: all 0.3s ease; 
      }
      .labelandpassword label {
        font-size: 16px;
        font-weight: 600;
        color: #2E4D72;
      }
      .continuepage2 {
        padding: 13px ;
        width: 250px;
        border-radius: 9px;
        border: none;
        background-color: #4BA0A8;
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
       margin-top: 15px;
        margin-left: 10px;
        transition: 0.3s ease
      }
      .continuepage2:hover {
        background-color: #79D7BE;
        transform: scale(1.1);
      }
      .Returnpage2 {
        display: flex;
        align-items: center;
        max-width: 100vw;
        width: 40%;
        max-height: 100vh;
        height: 15%;
        margin-top: 20px;
        
        gap: 10px;
      }
      .Returnpage2 .btn-arrow{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        outline: none;
        background-color: transparent;
        margin-bottom: 5px;
      }
      .ioArrowBackCircle{
        width: 40px;
        height: 40px;
        color: #4BA0A8;
      }
      .Returnpage2 p {
        color: #2E4D72;
        font-size: 16px;
        
        
       
      }
      .doctor-img img {
        position: absolute;
        bottom: -85px;
        right: -95px; 
        height:87%;
        width: auto;
        
      }
      .error-message {
        color: red;
        font-size: 16px;
        font-weight: bold;
      }
      @media (max-width: 468px) {
        .logo-forgotpassword img {
            width: 140px;
            height: 140px;
        }
    
        .title h1 {
            font-size: 20px;
        }
    
        .labelandpassword input[type="password"] {
            width: 100%;
            font-size: 18px;
        }
    
        .continuepage2 {
            width: 200px;
            font-size: 14px;
        }
    
        .Returnpage2 p {
            font-size: 14px;
        }
    
        .doctor-img img {
            display: none; /* Cache l'image sur mobile */
        }
    }
    
    
    @media (max-width: 900px) {
      .logoandtitlePage2{
        display: flex;
        flex-direction: column;
      }
        .forgotpasswordpage2 {
            max-width: 100vw;
            width: 90%;
            gap: 20px;
        }
        .labelandpassword {
          max-width: 100vw;
          width: 100%;
        }
        .labelandpassword input[type="password"] {
            width: 100%;
        }
        .Returnpage2 {
          width: 100%;
        }
    
        .doctor-img img {
         display: none;
        }
    }
    
    
    @media (max-width: 1024px) {
      .logoandtitlePage2 .logo-forgotpassword img {
        width: 300px;
        height: auto;
      }
        .forgotpasswordpage2 {
         
          max-width: 100vw;
            width: 100%;
        }
    
        .labelandpassword input[type="password"] {
            width: 95%;
        }
    
        .doctor-img img {
          max-height: 700px;
            height: 60%;
            margin-bottom: -10px;
            margin-right: -10px;
        }
    }
    