
.sidebardocs {
    width: 250px;
    background: linear-gradient( to bottom, #fff,#F8FBFC , #50A3AB);
    color: white;
    min-height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px 0;
   
  }
  
  .sidebardocs-header {
    width: 250px;
    height: 250px;
    
  }
  .sidebardocs-header img {
    place-self: center;
    width: 230px;
    height: 230px;
  }
  .sidebardocs-header {
    margin-left: 15px;
    font-weight: bold;
    color: #34495e;
    margin-bottom: 30px;
    font-size: 14px;
    color: #2E5077;
  }
  
  .sidebardocs-nav {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }
  
  .sidebardocs-nav button {
    background: none;
    border: none;
    color: #2E5077;
    text-align: left;
    padding: 12px 20px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s;
  }
  
  .sidebardocs-nav button:hover {
    background-color: #50A3AB;
    color: white;
  }
  
  .sidebardocs-nav button.active {
    background-color: #79D7BE;
    color: white;
  }
  .sidebardocs-nav .options-todo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
  }
  .options-todo button  {
    padding: 15px;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-weight: 600;
    border: none;
    transition: all 0.25s ease; 
    cursor: pointer; 
  } 
  .options-todo button:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
    transform: translateX(-1px);
    background-color:white;
    color: #2E5077;
}
  .options-todo select {
    padding: 15px;
    width: 100%;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .profile {
    padding: 15px;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-weight: 600;
    border: none;
    transition: all 0.25s ease; 
    cursor: pointer; 
    display: flex;
    gap: 10px;
  }
  .profile:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
    transform: translateX(-1px);
    background-color:white;
    color: #2E5077;
  }
  .profile img {
    width: 40px;
    height: 40px;
    
  }

  @media screen and (max-width: 768px) {
    .sidebardocs {
      width: 200px;
    }
  }
  
  /* Mode mobile (plein écran) */
  @media screen and (max-width: 780px) {
    .sidebardocs {
      width: 150px;
       /* Cachée */
    }
    .sidebardocs img {
      width: 100px;
      height: auto;
    }

  .sidebardocs-header p {
  visibility: hidden;
  }
    .sidebardocs.open {
      left: 0;
    }
  }